.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feedback > .feedback-form {
  color: var(--lighter-grey);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;

  margin: 1rem 1rem 3rem;
}

.feedback > .feedback-form input {
  background: transparent;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom: 1px solid var(--lighter-grey);
  margin: 0.5rem;

  width: 13rem;
}

.feedback > .feedback-form input:focus {
  outline: none;
  background: transparent;
  border-bottom: 1px solid var(--grey);
  margin: 0.5rem;
}

.feedback-button {
  background-color: var(--yellow);
  color: var(--white);
  border-radius: 6px;
  width: 3.5rem;
  height: 2rem;
  border: 0;
  margin-top: 3rem;
}

.feedback-button:hover {
  background-color: transparent;
  color: var(--yellow);
  border: 2px solid;
}

@media (min-width: 641px) {
  .feedback > .feedback-form input {
    width: 20rem;
  }
}
